{% extends "no-sidebar.html" %}


{% block title %}Day #9{% endblock %}

{% block logo %}Day #9{% endblock %}

{% block content_title %}Another good day{% endblock %}
{% block content_date %}Date: January 11, 2026{% endblock %}


{%block content%}

<p>
    Hello and happy New Year! It has been a long time since I posted. I hope you had a great Christmas and a Happy
    New Year, because I certainly had both!
</p>
<p>
    This Christmas was spent at my grandparents where I waited for Santa Claus like a good 24-year-old kid I am XD.
    Jokes aside, it was a pretty good time. I had the chance to go back to my roots, the place where I would spend my
    holidays. I relived going caroling, opening Christmas presents, and enjoying happy moments around the Christmas
    table.
</p>
<p>
    Regarding the New Year period, I spent it at home, here in Bucharest, with my girlfriend. We basically bingewatched
    movies, Netflix series, and YouTube videos while fattening up on fast food and sweets. For me, it was a
    well-deserved break from work, personal projects and other tasks that I had to complete every day. To be honest, I
    am still trying to get back on track =))). It's hard to get back after periods when you are basically doing
    nothing.
</p>
<p>
    This day finds me in a Ted's coffee shop alongside my girlfriend who has to study for the exams tomorrow. Everything
    started pretty good. I cleared the snow off my car, drank a cup of coffee and took a long, hot shower. The plans for
    today were pretty basic: do some cleaning, perform some maintenance on my Roborock smart vacuum cleaner and watch
    some episodes of a Netflix series. But, because there is always a 'but', since she asked me so nicely to go out for
    a study date, I couldn't refuse her =))))
</p>

<p>
    Now it is 19:35 Bucharest time and I guess the personnel wants us go to finally home cause they already started
    cleaning the tables XD This is, in opinion, a pretty good day. I had the chance to study the chapter 6 of the
    Ben Graham's "Intelligent Investor" book. The main idea of this chapter is that you should always look for what
    others are buying, or what you are buying, a product that is in general appreciated (of high quality). Immediately
    after that, it is extremely important to proceed with a detailed research of the company to see if the stocks are
    worth investing your money into. Only after completing these steps, and coming to the conclusion that the stocks
    are worthy acquisition, you should, of course, put your money into the game and automate the purchase so that you
    invest every month and be consistent.

</p>

<p>
    Overall, I guess this was the day, I hope you are as happy as I am now and I wish you, again, to  have a happy New
    Year!
</p>


{% endblock %}
