{% extends "no-sidebar.html" %}


{% block title %}Day #3{% endblock %}

{% block logo %}Day #3{% endblock %}

{% block content_title %}Coffee, Learning and Good Vibes Only{% endblock %}
{% block content_date %}Date: December 7, 2025{% endblock %}


{%block content%}

<p>
    Today is a slightly different day. Today I am feeling a little bit tired, but happy. To be honest, I do not
    really have the energy to learn something new, even that I really want to do that. Maybe I will search over the
    Internet for something interesting worth sharing here.
</p>

<p>
    Last night was an interesting one! Me and my girlfriend went to the Emo Reunion event at the Quantic Pub here in
    Bucharest. Emo Reunion is an event that I wished to go to for some time, but never had the chance to do that.
    Overall, it was a fun experience. We had the chance to listen to some old bangers from 2000s, had some drinks and a
    really good time. The DJ was good, but not the best as he played good music, but he had ups and downs regarding the
    music he played. The thing is that he would play a very good song, followed by a bad one which ruined the vibe.
    This happened kind of regularly. This is the only thing that I have to say that I am not so satisfied with.
    Apart from this, the event was interesting and I am thinking to come back next year.
</p>

<p>
    Now, as I am writing this words, I find myself in a Starbucks coffee shop, again with my girlfriend, which I love
    very much ❤️! She is trying to learn as she will have an exam tomorrow morning and I am here just to have a good time
    searching the Internet, enjoying a good coffee and providing emotional support for her. Today is a good day! ☕
</p>

<!--<p>-->
<!--    Coming back to the present moment...Now I find myself in a Starbucks coffee shop. Me and my girlfriend are trying-->
<!--    to learn as she has an exam tomorrow morning and I just want to learn new things. The thing that I learned about-->
<!--    and I found interesting was the fact that the inflation affects the stocks in a slightly interesting way. I found-->
<!--    out that when the inflation has extremely low values, the stocks do very poorly. When the inflation has "normal-->
<!--    values", something like 5-6%, the stocks do very well, and when the inflation exceeds levels like 10%, then the-->
<!--    stocks do very bad, again.-->
<!--</p>-->

<!--<p>-->
<!--    I took this screenshot from the Intelligent Investor book. This images shows exactly what I described above, but in-->
<!--    a more detailed and facts-driven way.-->
<!--</p>-->

<!--<img src="{{ url_for('static', filename='images/day_3/stocks_vs_inflation.png') }}" alt="Stocks vs Inflation"-->
<!--         style="  display: block; margin-left: auto;margin-right: auto; width: 50%;">-->


{% endblock %}
