{% extends "no-sidebar.html" %}


{% block title %}Day #6{% endblock %}

{% block logo %}Day #6{% endblock %}

{% block content_title %}Trying to find my motivation{% endblock %}
{% block content_date %}Date: December 17, 2025{% endblock %}


{%block content%}

<p>
    Today I feel tired, but I still want to do something in order to feel productive. This is a strange feeling...
    wanting to do something, but not having the resources to proceed...Maybe this mood is related to the fact that
    Christmas is coming or maybe is just a sign to just take it easy and recharge my batteries...Even though I am tired,
    in order not to feel guilty that I didn't do anything for my growth today, I am writing this words so that maybe I
    can get some motivation to actually start doing something.
</p>

<p>
    I think that the following period (the next months or so) I will focus on finishing the RedHat book and configure
    and perform the hardening for my 24/7 server. At the same time, I will continue to write down my thoughts here so
    that I can better manage myself, my thoughts and time. So, I guess that I will have 2 big projects that I will work
    on from now. This web application and the home server. I really want this to happen. It will be an extremely good
    asset for learning future technologies and improving my day-to-day life.
</p>

<p>
    I think that today I will try to create some Ansible tasks from the chapter 3 and document them in the README.md
    file of the task. One great thing that I learned these days is that when creating a new role inside your project
    you can use the following command: <b>ansible-galaxy role init your_role_name</b> for that. This is extremely useful
    because it generates you a role directory structure out of the box, a structure that contains a README.md file and
    var, handles and tasks directories, with some .yml file inside. This is a pretty neat feature of the Ansible that
    I am and certainly use in the future.
</p>

<p>
    I guess that starting to write this blog post helped me find some kind of motivation for today. I will go and
    finish automating the chapter 3 and I will come here if I have updates that I need to share.
</p>

<p>
    I guess this is all from me for now. Have a nice rest of the day and keep follow your dreams and goals!
    See you later! 🤙
</p>


{% endblock %}
