{% extends "no-sidebar.html" %}


{% block title %}Day #7{% endblock %}

{% block logo %}Day #7{% endblock %}

{% block content_title %}I have a bad feeling{% endblock %}
{% block content_date %}Date: December 19, 2025{% endblock %}


{%block content%}

<p>
    The time is 22:55, 19 December 2025. I know it is late and I shouldn't stay or work now, but I cannot
    sleep either...(I know that some of you may consider that writing a blog post is not actually work. For me, this is
    micro productivity because it helps me to structure my thoughts and maybe help others that
    find themselves in similar situations to deal with their problems). I'm having a bad feeling about a lot
    of things related to my life. I feel that time is moving so fast and I cannot keep up with it. I feel like I have no
    time to finish everything that I want to achieve. I feel like I do not have the energy or the optimal conditions
    to perform at the level I want to perform. I am furious about the people around me because, maybe, they do not
    understand that I need to lock in and work on my stuff and not disturb me while I do that. All I want is
    their support or, if they cannot help me, the best they can do is to just leave me alone and do my work.
</p>

<p>
    I know that Christmas is coming and 2026 is around the corner and I should take it easy, but I have also this
    feeling that I need to do more and to learn more in order to feel good about myself. On the other side,
    I feel exhausted because of all the things that I have to deal with on my day-to-day life. I do not know...maybe
    this is a sign of emotional burn-out. I struggle with it for some time. I guess, but I am not certain of it, that
    this exhaustion comes from a lot of workload that I have to complete every day, combined with insufficient
    recognition and a feeling of unfulfillment caused by the different contexts that I encounter.
</p>

<p>
    There are nights when I feel paralyzed in moods like this one. At the moment I feel tired, but I really do not
    want to let this time to pass by. I really want to finish the day with a good sense of achievement, even though I
    did the smallest productive thing I could think of. I feel like a winner because I try to fight this bad mood.
    You know... I still feel furious about how unfair life can be sometimes, but I also like fighting all of this bad
    moods with strategic thinking, structure and detailed plans. These lines, that I am writing, they give me a sense
    of control because I have the chance to process how I feel and the next steps that I need to follow in order to
    continue to fight. I know that there will be an end of this long and dark tunnel and someday, all of this hard work
    will pay off. I really believe that better days will come, but I need to keep moving.
</p>

<p>
    These days I will focus on reading about investment and how a good investor manages his stocks and other assets. I
    guess this is the plan until I return to Bucharest (now I am in hometown to spend the Christmas with my family). I
    need to take a break, to recharge my batteries and after, to continue the journey I embarked on, to create and set
    this web application up and running over the Internet so that you, the reader of my blog, know my story.
</p>

<p>
    Now, that I finished writing down my thoughts I really feel better. I have more clarity and I feel like I can rest.
    I also hope that you've found your peace while reading these words. This is all from me for today, I will go back
    to sleep now. I wish you a good evening! See you soon!
</p>


{% endblock %}
