{% extends "left-sidebar.html" %}

{% block title %}&#128587;About{% endblock %}

{% block logo%}&#128587;About{% endblock %}

{% block nav %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li class="current"><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('studies') }}">Studies</a></li>
<li><a href="{{ url_for('career') }}">Career</a></li>
<li><a href="{{ url_for('blog') }}">Blog</a></li>
<li><a href="{{ url_for('projects') }}">Projects</a></li>
{% endblock %}

{% block content %}

<div class="col-8 col-12-medium imp-medium">

    <!-- Content -->
    <article class="box post">
        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        <header>
            <h2>Why this webiste?</h2>
            <br />
            <h5>Date: November 28, 2025</h5>

        </header>
        <p>
            This website was created so that I can have like a history of my own progress over time and also share some
            thoughts and ideas with others. I am the kind of person that likes to learn by creating studying materials
            that I can share with others. I like to create diagrams and related amazing things that I can later use for
            teaching others the things that I learned and I found interesting.
        </p>

        <p>
            You will see that this website will be filled with posts, links and amazing images and diagrams created by
            me so that I can share with you the way that I understand and structure the things that I interact with and
            also the projects that I am working on.
        </p>

        <section>
            <header>
                <h3>Something else</h3>
            </header>
            <p>

            </p>
            <p>

            </p>
        </section>
        <section>
            <header>
                <h3>In conclusion ...</h3>
            </header>
            <p>

            </p>
            <p>

            </p>
        </section>
    </article>

</div>

{% endblock %}