{% extends "no-sidebar.html" %}


{% block title %}Day #1{% endblock %}

{% block logo %}Day #1{% endblock %}

{% block content_title %}Day #1{% endblock %}
{% block content_date %}Date: November 29, 2025{% endblock %}
{% block content_subtitle %}Scheduling jobs in the Red Hat 9 environment{% endblock %}

{%block content%}

<p>
    Before we dive in the subject we will discuss today, I just want to give a little bit of context. So, the main
    project that I am working on is creating this personal website, the one that you are currently on at the present
    moment. In order to create this website, I had to follow a specialized course from Udemy, namely
    <a href="https://www.udemy.com/course/100-days-of-code/?couponCode=CP251118G4V2">
        "100 Days of Code™: The Complete Python Pro Bootcamp"</a> , created by Dr. Angela Yu.

    What I wanted to learn at first was only Python, but this course widened my horizons and showed me that I can do so
    much more. One of the things that I enjoyed the most, as you are probably guessing, was creating web applications,
    like this one. I think that this is a great opportunity to create something technical, but at the same time express
    your creativity.
</p>

<p>
    But creating just a website was not enough for me. Why? Because I enjoy understanding the big picture in everything
    that I put my hands on. So, I started asking myself "Where I will host this website?". The answers to that question
    were many, but in the end, I got to the conclusion that I want to create a home server of my own where I will host
    this web application. But creating a home server implies ensuring its security. To ensure security means that you
    have cover 3 big concepts: application-side security, server-side security and local network side security. I know,
    that is a huge objective to achieve, but I really like the idea of learning how to create a home server to host my
    web application and to ensure its security. It is like creating yourself a kingdom which you have to defend. I know
    that, at the moment, I am just a newbie in both web dev and cyber-security, but "Rome wasn't built in a day".
</p>

<p>
    Even though I finished my Bachelor's Degree in Automatic Control and Computer Science, I still lack the necessary
    knowledge in securing a server. And I thought to myself, before I start to learn about security, first I have to
    fill the knowledge gaps regarding the management of a Linux OS (to be more precise: RedHat 9 LinuxOS).
</p>

<section>
    <header>
        <h3>Coming back to the subject of today's discussion</h3>
    </header>
    <p>
        Today I learned about how to schedule jobs on a server provisioned with RedHat 9. There are 3 ways you can
        achieve that:
    </p>
    <ul>
        <li>Using Systemd timer units</li>
        <li>Using the old, but awesome, crond</li>
        <li>Using the at utility</li>
    </ul>
    <p>
        I am going to say a few words about each one of them in the following section.
    </p>
</section>
<section>
    <header>
        <h3>The Systemd timers </h3>
    </header>
    <p>
        Here are some interesting ideas:
    </p>
    <ul>
        <li>
            The <b>Systemd timers</b> are <b>the most recommended way</b> to schedule jobs in <b>RedHat 9</b> distribution.
        </li>
        <li>
            A Systemd timer is <b>always used alongside a service unit file</b>. The timer decides <b>WHEN</b> the service
            should be started and the service unit decides <b>HOW</b> to start the service.
        </li>
        <li>
            If you need a service to be started by a timer, you <b>enable the timer</b>, <b>NOT</b> the service.
        </li>
    </ul>
</section>
<section>
    <header>
        <h3>Scheduling jobs using cron </h3>
    </header>
    <p>
        Here are some interesting ideas:
    </p>
    <ul>
        <li>
            You can still schedule jobs in RedHat 9, using cron.
        </li>
        <li>
            The crond daemon is started as a systemd service. The crond looks every minute to see if it is work to do.
            I mean, it checks the cron configuration in order to start the right service at the right time.
        </li>
        <li>
            It does not need to be restarted or reloaded. The crond daemon wakes up every minute and checks its config
            to see if there is something to do.
        </li>
    </ul>
</section>

<section>
    <header>
        <h3>Scheduling jobs using at </h3>
    </header>
    <p>
        Here are some interesting ideas:
    </p>
    <ul>
        <li>
            Even if you are using cron to schedule jobs, you can also use the at, to be more precise, the atd daemon to
            schedule jobs that will be executed only once.
        </li>
        <li>
            To schedule a job with this utility, just type at command followed by the time when it must be executed.
            One example can be: at 15:00. After you pressed enter, the at shell will open and you can type down your
            commands. In the end, press Ctrl+D to quit.
        </li>
        <li>
            To see all the jobs scheduled with atd, you can type atq. To remove jobs, use the atrm, followed by the
            number of the job you want to remove.
        </li>
    </ul>
</section>

{% endblock %}
