{% extends "no-sidebar.html" %}


{% block title %}Day #2{% endblock %}

{% block logo %}Day #2{% endblock %}

{% block content_title %}Day #2{% endblock %}
{% block content_date %}Date: December 3, 2025{% endblock %}
{% block content_subtitle %}A new approach, I guess{% endblock %}

{%block content%}

<p>
    <b>Today I finished Chapter 13</b> of the RedHat 9 EX200 Cert Guide book. This chapter was about different ways of
    <b>how logging is performed</b> at the OS level and <b>how an admin should use the logs</b> for system
    troubleshooting. I really <b>do not want to discuss theoretical stuff</b> in this blog post. Today, I want to share
    with you some ideas regarding <b>the approach that I should adopt</b> in order to learn faster <b>the knowledge
    presented</b> in the book. What I am thinking at the moment is that I should <b>try to structure all the
    theoretical stuff</b> in some <b>mindmap diagram</b> or something like that, a diagram that <b>contains the most
    important keywords</b>, <b>filepaths</b> and things like that, linked to <b>a short explanation</b>. Also, maybe I
    should <b>create another diagram</b> that contains <b>the actions</b> that an administrator <b>should be able to
    perform</b> after each chapter. Another idea that comes to my mind is to <b>create a project</b> that <b>automates
    this tasks</b>.
</p>

<p>
    I think that I will start to implement all of the above and come with an update. Wish me luck.
</p>

<p>

    <b>UPDATE</b>: I created the diagram from above. It seems like <b>a good approach</b> in understanding the
    information from the book. After <b>getting through the chapter once</b> before starting <b>to map the keywords</b>
    in the diagram I can say that I have <b>a better understanding</b> of the concepts.

    If you are interested in this diagram, you can download it from the following link:
    <a href = "{{ url_for('static', filename='files/RHEL_9_mindmap.drawio') }}" download="RHEL_9_book_mindmap">MindMap</a>
</p>



{% endblock %}
