{% extends "no-sidebar.html" %}


{% block title %}Day #2{% endblock %}

{% block logo %}Day #2{% endblock %}

{% block content_title %}Day #2{% endblock %}
{% block content_date %}Date: December 3, 2025{% endblock %}
{% block content_subtitle %}A new approach, I guess{% endblock %}

{%block content%}

<p>
    Today I finished Chapter 13 of the RedHat 9 EX200 Cert Guide. This chapter was about logging, but I do not want to
    discuss theoretical stuff in this blog post. Today I want to share with you some ideas of mine, regarding the
    approach that I should adopt in order to learn more efficient the knowledge presented in the book. What I am
    thinking at the moment is that I should try to structure all the theoretical stuff in some mindmap diagram or
    something like that, a diagram that contains the most important keywords, filepaths and things like that, linked to
    a short explanation. Also, maybe I should create another diagram that contains the actions that an administrator
    should be able to perform after each chapter. Another idea that comes to my mind is to create like a project that
    automates this tasks.
</p>

<p>
    I think that I will start to implement all of the above and come with an update. Wish me luck.
</p>

{% endblock %}
