<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
								<section>
									<header>
										<h2>Events</h2>
									</header>
									<ul class="dates">
										<li>
											<span class="date">Dec <strong>25</strong></span>
											<h3><a href="#">Christmas</a></h3>
											<p>1st day of Christmas</p>
										</li>
										<li>
											<span class="date">Dec <strong>26</strong></span>
											<h3><a href="#">Christmas</a></h3>
											<p>2nd day of Christmas</p>
										</li>
										<li>
											<span class="date">Dec <strong>31</strong></span>
											<h3><a href="#">New Year's Eve</a></h3>
											<p>New Year's Eve</p>
										</li>
										<li>
											<span class="date">Jan <strong>12</strong></span>
											<h3><a href="#">Objective #4</a></h3>
											<p>Objective #4 description.</p>
										</li>
										<li>
											<span class="date">Jan <strong>10</strong></span>
											<h3><a href="#">Objective #5</a></h3>
											<p>Objective #5 description.</p>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<header>
										<h2>What's this all about?</h2>
									</header>
									<a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
									<p>
										This is <strong>website</strong> was created for one purpose only. To increase
										my digital footprint on the Internet and share what new things I am learning
										with other enthusiasts.
									</p>
									<footer>
										<ul class="actions">
											<li><a href="{{ url_for('about') }}" class="button">Find out more</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section>
									<header>
										<h2>Blogs</h2>
									</header>
									<ul class="divided">
										<li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
										<li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
										<li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
										<li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
										<li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
										<li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section>
									<header>
										<h2>Projects</h2>
									</header>
									<ul class="divided">
										<li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
										<li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
										<li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
										<li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
										<li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
										<li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<header>
										<h2>Contact</h2>
									</header>
									<ul class="social">
<!--										<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>-->
<!--										<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>-->
<!--										<li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>-->
<!--										<li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>-->
										<li><a class="icon brands fa-linkedin-in" href="https://www.linkedin.com/in/andrei-draghici1307/"><span class="label">LinkedIn</span></a></li>
									</ul>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<p>
												Bucharest<br />
												Romania
											</p>
										</li>
										<li>
											<h3>Mail</h3>
											<p><a href="#">draghici.andrei12@yahoo.com</a></p>
										</li>
										<li>
											<h3>Phone</h3>
											<p>Not the case</p>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-12">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>