{% extends "no-sidebar.html" %}


{% block title %}&#127881;Greetings&#127881;{% endblock %}

{% block logo %}&#127881;Greetings&#127881;{% endblock %}

{% block content_title %} THANK YOU! {% endblock %}
{% block content_subtitle %}First of all, I want to say a big <strong>"THANK YOU!"</strong> for landing on my website.{% endblock %}

{%block content%}

<p>I am extremely happy you just landed on my website! I hope that we will discuss interesting things together! I just
    want to say "Welcome!" and invite you into our next developer adventures.</p>
<p>Are you ready?</p>

<section>
    <header>
        <h3>Something else</h3>
    </header>
    <p>
        lalalal
    </p>

    <p>
        lalalala
    </p>
</section>
<section>
    <header>
        <h3>So in conclusion ...</h3>
    </header>
    <p>
        lalalala
    </p>
</section>


{% endblock %}
