{% extends "left-sidebar.html" %}

{% block title %}&#128640;Projects{% endblock %}

{% block logo%}&#128640;Projects{% endblock %}

{% block nav %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('studies') }}">Studies</a></li>
<li><a href="{{ url_for('career') }}">Career</a></li>
<li><a href="{{ url_for('blog') }}">Blog</a></li>
<li class="current"><a href="{{ url_for('projects') }}">Projects</a></li>
{% endblock %}

{% block content %}

<div class="col-8 col-12-medium imp-medium">

    <!-- Content -->
    <article class="box post">
        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        <header>
            <h2>Personal Website</h2>
            <br />
            <h3>About this project</h3>

        </header>
        <p>
            Developing a full-stack web application that aims to be a portofolio/blog web application. Technologies
            used are: Python Flask, Jinja2 templating, HTML, CSS, JavaScript and many more.
        </p>
        <p>
            <b>UPDATE (November 28, 2025):</b> Project will be hosted on a dedicated home server which will run RedHat
            9 Linux as the designated operating system. Creating the server is still a work-in-progress as I am trying
            to gather as much knowledge so that I can ensure the server's security.
        </p>
        <p>
            <b>GitHub repository link:</b>
            <a href = "https://github.com/DraghiciAndrei1307/Personal-Website">
                Personal Website
            </a>
        </p>
    </article>
    <article class="box post">
        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        <header>
            <h2>PostgreSQL-Ansible-Automation</h2>
            <br />
            <h3>About this project</h3>

        </header>
        <p>
            Developing an automated PostgreSQL administration project using Ansible to streamline cluster
            installation, backup management with pgBackRest, and various restore operations (PITR,
            delta, specific database restores) on RedHat VMs.
        </p>
        <p>
            Extending Ansible capabilities with custom Python modules to further automate database or-
            chestration and enhance operational efficiency.
        </p>
        <p>
            <b>GitHub repository link:</b>
            <a href = "https://github.com/DraghiciAndrei1307/PostgreSQL-Ansible-Automation">
                PostgreSQL Ansible Automation
            </a>
        </p>

    </article>
    <article class="box post">
        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        <header>
            <h2>RedHat-Ansible-Automation</h2>
            <br />
            <h3>About this project</h3>

        </header>
        <p>
            This project aims to be my way of learning Linux RedHat 9 through the development of Ansible playbooks.
            This way, I am learning two things at once: Ansible and Linux RedHat.
        </p>
        <p>
            <b>GitHub repository link:</b>
            <a href = "https://github.com/DraghiciAndrei1307/RedHat-Ansible-Automation">
                RedHat-Ansible-Automation
            </a>
        </p>

    </article>
    <article class="box post">
        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        <header>
            <h2>Trading-App</h2>
            <br />
            <h3>About this project</h3>

        </header>
        <p>
            Trading app that gets data from BVB.ro and uses best practices in order to determine if is the right time
            to invest.
        </p>
        <p>
            <b>GitHub repository link:</b>
            <a href = "https://github.com/DraghiciAndrei1307/Trading-App">
                Trading-App
            </a>
        </p>

    </article>
</div>

{% endblock %}

{% block block1%}
<section class="box">
    <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
    <header>
        <h3>&#128187;&#128200; GitHub account</h3>
    </header>
    <p>
        If you are interested to have a look over one of my projects, just press the button below in order to access my
        GitHub account and check my repositories.
    </p>
    <footer>
        <a href="https://github.com/DraghiciAndrei1307" class="button alt">GitHub</a>
    </footer>
</section>
{%endblock%}

{% block block2%}
<section class="box">
    <header>
        <h3>{% block block2_menu_title %}&#129333;&#128200; LinkedIn account{% endblock %}</h3>
    </header>
    <p>{% block block2_menu_description %}Let's get in touch!{% endblock %}</p>
<!--    <ul class="divided">-->
<!--        <li>{% block block2_item1 %}{% endblock %}</li>-->
<!--        <li>{% block block2_item2 %}{% endblock %}</li>-->
<!--        <li>{% block block2_item3 %}{% endblock %}</li>-->
<!--        <li>{% block block2_item4 %}{% endblock %}</li>-->
<!--    </ul>-->
    <footer>
        <a href="https://www.linkedin.com/in/andrei-draghici1307/" class="button alt">Linkedin</a>
    </footer>
</section>
{%endblock%}